@charset "UTF-8";

    	.content {
		     width: 7.5in;
		     padding: 0.5in;
		 }
		 table {
		  border-collapse: collapse;
		  width: 100%;
		}
		
		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}
		
		tr:nth-child(even) {
		  background-color: #dddddd;
		}

	 .fixed {
  		    position: sticky !important;
  		    top: 0;
  		    padding: 5px;
  		    border: 2px solid;
	    }
	    
	 .padding-top {
	        padding-top: 65px;
	    }
	    
	 .solid-table-border {
	        border: 2px solid;
	    }
	    	    
	    
	   /* INFOGRAPHIC OVERLAY */ 
	   .infographic-overlay {
	   	   background: url("../resources/InfographicPreview.png");
	   	   background-repeat: no-repeat;
	       width: 742px;
   		   height: 331px;
		 
    	}
    			 
		 .overlay-link {
		    display:inline-block;
		    width:100%;
		    height:100%;
		}
		 
	   .infographic-overlay:hover {
			box-shadow: inset 0px 0px 0 5000px rgba(0,0,0,0.5);
		}
	   
 