@charset "UTF-8";

    	.content {
		     width: 7.5in;
		     padding: 0.5in;
		 }
		 table {
		  border-collapse: collapse;
		  width: 100%;
		}
		
		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}
		
		tr:nth-child(even) {
		  background-color: #dddddd;
		}